@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <textarea name="message" id="message"></textarea>
    <input type="button" id="sendButton" value="Send Message" />
    <div id="messages"></div>
    <script src="~/signalr/dist/browser/signalr.js"></script>
    <script src="~/Js/messages.js"></script>
    
</body>

</html>
